* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.banner {
  height: 300px;
}
.banner .carousel-inner {
  height: 100%;
}
.banner .carousel-inner .carousel-item {
  height: 300px;
}
.banner .carousel-inner .carousel-item .carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.banner .carousel-item-next,
.banner .carousel-item-prev,
.banner .carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .carousel-control-prev-icon {
  background-image: none;
}
.banner .carousel-control-prev-icon i {
  color: rgb(0, 0, 0);
}
.banner .carousel-control-next-icon {
  background-image: none;
}
.banner .carousel-control-next-icon i {
  color: rgb(0, 0, 0);
}

.offer-choice {
  text-align: center;
  background-color: rgba(19, 96, 164, 0.2);
  border-radius: 5px;
}
.offer-choice h3 {
  padding: 15px 0 0 0;
}
.offer-choice .offer-choice-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 20px 0;
}
.offer-choice .offer-choice-content .offer-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 20px;
}
.offer-choice .offer-choice-content .offer-content-box label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer-choice .offer-choice-content .offer-content-box label p {
  margin: 15px 0 5px 0;
}
.offer-choice .offer-choice-content .offer-content-box .offer-content-img {
  height: 300px;
  min-width: 200px;
}
.offer-choice .offer-choice-content .offer-content-box button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #1360a4;
}

.descOption .wall {
  margin: 20px 1em 10px 1em;
}
.descOption .wall .desc-name {
  position: sticky;
  top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e7eff6;
  border-radius: 10px;
}
.descOption .wall .desc-name .desc-name-header {
  width: 33%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-right: solid 1px rgb(0, 0, 0);
}
.descOption .wall .desc-name .desc-name-header:last-child {
  border-right: none;
}
.descOption .wall .desc-name .desc-name-header.none {
  display: none;
}
.descOption .wall .desc-value h4 {
  margin: 10px 0 0 0;
}
.descOption .wall .desc-value .desc-value-option {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.descOption .wall .desc-value .desc-value-option .desc-value-option-i {
  width: 30%;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(19, 96, 164, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.descOption .wall .desc-value .desc-value-option .desc-value-option-i .fa-check {
  color: #4bb543;
}
.descOption .wall .desc-value .desc-value-option .desc-value-option-i .fa-xmark {
  color: #ff9494;
}

@media (min-width: 768px) {
  .banner {
    height: 500px;
  }
  .banner .carousel-inner .carousel-item {
    height: 500px;
  }
  .banner .carousel-inner .carousel-item .carousel-content {
    flex-direction: column;
  }
  .offer-choice .offer-choice-content {
    flex-direction: row;
    margin: 10px 0px 20px 0px;
  }
  .offer-choice .offer-choice-content .offer-content-box {
    margin: 0px 0 20px 0;
  }
  .offer-choice .offer-choice-content .offer-content-box button {
    margin: 10px 0 0 0;
  }
  .descOption .wall .desc-name .desc-name-header.none {
    display: block;
    width: 25%;
  }
  .descOption .wall .desc-name .desc-name-header {
    border: none;
    width: 30%;
  }
  .descOption .wall .desc-value {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .descOption .wall .desc-value h4 {
    font-size: 16px;
    width: 25%;
    margin: 0 0 0 10px;
  }
  .descOption .wall .desc-value .desc-value-option {
    margin: 0;
    width: 100%;
  }
  .descOption .wall .desc-value .desc-value-option .desc-value-option-i {
    height: 50px;
    background-color: transparent;
  }
  .descOption .wall .desc-value:nth-child(even) {
    border-radius: 10px;
    background-color: rgba(19, 96, 164, 0.1);
  }
}
@media (min-width: 992px) {
  .offer-choice .offer-choice-content .offer-content-box label {
    margin: 0px 10px;
  }
  .offer-choice .offer-choice-content .offer-content-box label p {
    width: 70%;
    text-wrap: wrap;
    font-weight: 700;
  }
  .offer-choice .offer-choice-content .offer-content-box button:hover {
    background-color: #2ca9e5;
  }
  .descOption .wall .desc-name {
    height: 80px;
  }
  .descOption .wall .desc-name .desc-name-header {
    width: 30%;
  }
  .descOption .wall .desc-value {
    height: 50px;
  }
  .descOption .wall .desc-value h4 {
    font-size: 18px;
  }
}/*# sourceMappingURL=styleOffer.css.map */