* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.banner {
  position: relative;
  height: 300px;
}
.banner .banner-content {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  z-index: 1;
}
.banner .banner-content div {
  margin: 10px;
}
.banner .banner-content .banner-text {
  color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner .banner-content .banner-btn {
  color: rgb(235, 235, 235);
}
.banner .banner-content .banner-btn .offer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(235, 235, 235);
  width: 100px;
  height: 25px;
  border: 1px solid rgb(235, 235, 235);
  transition: background-color 0.5s;
  background-color: transparent;
}
.banner .banner-content .banner-btn .offer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}
.banner .banner-content .banner-btn .offer:active {
  background-color: #2ca9e5;
  color: rgb(235, 235, 235);
}
.banner .banner-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
}
.banner .banner-shadow .shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner .banner-shadow .banner-img {
  width: 100%;
  height: 300px;
  background-image: url(/assets/Mobile/laptop-2620118_640.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.banner .banner-shadow img {
  height: 300px;
}

.advantages {
  margin: 50px 0 0 0;
  height: 300px;
}
.advantages .carousel.slide .carousel-inner .carousel-item {
  width: 100%;
  height: 300px;
}
.advantages .carousel.slide .carousel-inner .carousel-item .carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advantages .carousel.slide .carousel-inner .carousel-item .carousel-content i {
  font-size: 48px;
  color: #1360a4;
}
.advantages .carousel.slide .carousel-inner .carousel-item .carousel-content h2,
.advantages .carousel.slide .carousel-inner .carousel-item .carousel-content p {
  text-align: center;
  width: 80%;
}
.advantages [class*=carousel-control] {
  color: black;
}

.portfolio .portfolio-text {
  text-align: center;
}
.portfolio .portfolio-text h2 {
  font-size: 36px;
  text-transform: uppercase;
}
.portfolio .portfolio-text i {
  font-size: 36px;
  color: #1360a4;
}
.portfolio .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.portfolio .portfolio-list .portfolio-box {
  list-style: none;
  width: 50%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.portfolio .portfolio-list .portfolio-box .portfolio-box-item {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.portfolio .portfolio-list .portfolio-box:nth-child(1) {
  background-image: url(/assets/Mobile/thumbnailsMobile/Przelicznuk\ walut.webp);
}
.portfolio .portfolio-list .portfolio-box:nth-child(2) {
  background-image: url(/assets/Mobile/thumbnailsMobile/mobile-version.webp);
}
.portfolio .portfolio-list .portfolio-box:nth-child(3) {
  background-image: url(/assets/Mobile/thumbnailsMobile/todolist.webp);
}
.portfolio .portfolio-list .portfolio-box:nth-child(4) {
  background-image: url(/assets/Mobile/thumbnailsMobile/dabrowskiwebsite.webp);
}
.portfolio .portfolio-list .portfolio-box:nth-child(5) {
  background-image: url(/assets/Mobile//thumbnailsMobile/ai4sectors.webp);
}
.portfolio .portfolio-list .portfolio-box:nth-child(6) {
  background-image: url(/assets/Mobile/thumbnailsMobile/notes.webp);
}

@media (min-width: 768px) {
  .banner {
    height: 500px;
    padding: 0;
  }
  .banner .banner-content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner .banner-content .banner-text {
    text-align: center;
  }
  .banner .banner-content .banner-btn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .banner .banner-content .banner-btn p {
    font-size: 24px;
    text-align: center;
    margin: 0px 20px 20px 20px;
  }
  .banner .banner-content .banner-btn .offer {
    height: 50px;
    width: 300px;
    border: 3px solid rgb(235, 235, 235);
  }
  .banner .banner-shadow .banner-img {
    background-image: url(/assets/tablet/laptop-2620118_1280.webp);
    height: 500px;
  }
  .advantages {
    height: 500px;
  }
  .advantages .carousel.slide .carousel-inner .carousel-item {
    height: 500px;
  }
  .advantages .carousel.slide .carousel-inner .carousel-item.active {
    display: flex;
  }
  .advantages .carousel.slide .carousel-item-next,
  .advantages .carousel.slide .carousel-item-prev,
  .advantages .carousel.slide .carousel-item.active {
    display: flex;
    justify-content: center;
  }
  .portfolio .portfolio-list .portfolio-box {
    width: 33%;
    height: 200px;
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(1) {
    background-image: url(/assets//tablet/thumbnailTablet/currencyExchange.webp);
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(2) {
    background-image: url(/assets/tablet/thumbnailTablet/mobileVersion.webp);
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(3) {
    background-image: url(/assets/tablet/thumbnailTablet/toDoApp.webp);
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(4) {
    background-image: url(/assets/tablet/thumbnailTablet/dabrowskiWebsite.webp);
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(5) {
    background-image: url(/assets/tablet/thumbnailTablet/ai4sectors.webp);
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(6) {
    background-image: url(/assets/tablet/thumbnailTablet/myNotes.webp);
  }
}
@media (min-width: 992px) {
  .banner {
    height: 700px;
  }
  .banner .banner-content .banner-btn .offer {
    cursor: pointer;
    transition: background-color 0.5s;
  }
  .banner .banner-content .banner-btn .offer:hover {
    background-color: #2ca9e5;
  }
  .banner .banner-shadow {
    height: 100%;
  }
  .banner .banner-shadow .banner-img {
    height: 100%;
    background-image: url(/assets/computer/laptop-2620118_1920.webp);
  }
  .portfolio .portfolio-text i:hover {
    color: rgb(0, 0, 0);
  }
  .portfolio .portfolio-list .portfolio-box {
    width: 33%;
    height: 200px;
    transition: transform 0.5s;
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(1) {
    background-image: url(/assets/computer/thumbnailsComputer/currencyexchange.webp);
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(2) {
    background-image: url(/assets/computer/thumbnailsComputer/mobileversion.webp);
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(3) {
    background-image: url(/assets/computer/thumbnailsComputer/toDoApp.webp);
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(4) {
    background-image: url(/assets/computer/thumbnailsComputer/dabrowskiwebsite.webp);
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(5) {
    background-image: url(/assets/computer/thumbnailsComputer/ai4sectors.webp);
  }
  .portfolio .portfolio-list .portfolio-box:nth-child(6) {
    background-image: url(/assets/computer/thumbnailsComputer/myNotes.webp);
  }
  .portfolio .portfolio-list .portfolio-box:hover {
    transform: scale(1.05);
  }
}/*# sourceMappingURL=style.css.map */