body {
  font-family: "Comfortaa", cursive;
  background-color: #333;
}
body a {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

nav {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
}
nav .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(249, 249, 249, 0.85);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 80px;
  padding: 1em;
}
nav .logo {
  width: 100px;
  height: 80px;
  background-image: url(/assets/Logo_MD.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
nav .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav .menu li {
  margin: 0 1rem;
  overflow: hidden;
}
nav .menu li a {
  color: rgb(0, 0, 0);
}
nav .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav #menu-toggle {
  display: none;
}
nav .menu-button,
nav .menu-button::before,
nav .menu-button::after {
  display: block;
  background-color: rgb(0, 0, 0);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
nav .menu-button::before {
  content: "";
  margin-top: -8px;
}
nav .menu-button::after {
  content: "";
  margin-top: 8px;
}
nav #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
nav #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
nav #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  nav .menu-button-container {
    display: flex;
  }
  nav .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
  }
  nav .menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(249, 249, 249);
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  nav .menu li a {
    font-size: 36px;
    color: rgb(0, 0, 0);
  }
  nav .menu li:not(:last-child) {
    border-bottom: none;
  }
  nav #menu-toggle:checked ~ .menu li {
    border-bottom: 1px solid #1360a4;
    text-align: center;
    height: 80px;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.form {
  text-align: center;
  margin: 20px 0;
}
.form .form-content {
  color: #1360a4;
}
.form form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form form .form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form form .form-box label {
  font-size: 20px;
  color: #1360a4;
}
.form form .form-box input {
  height: 55px;
  width: 80%;
  padding: 0 0 0 10px;
  border: 1px solid #0d4270;
}
.form form .form-box ::-moz-placeholder {
  font-family: "Comfortaa", cursive;
}
.form form .form-box ::placeholder {
  font-family: "Comfortaa", cursive;
}
.form form .form-box .form-text-message {
  height: 100px;
  padding: 10px 0 0 10px;
  inline-size: 80%;
  overflow-wrap: break-word;
  overflow: visible;
  border: 1px solid #0d4270;
}
.form form .form-box .error-text {
  visibility: hidden;
  margin: 5px 0 10px 10px;
  font-size: 14px;
  color: rgb(0, 137, 250);
}
.form form .form-box.error input {
  border: 1px solid rgb(0, 137, 250);
  background-color: rgba(0, 137, 250, 0.1);
}
.form form .form-box.error .form-text-message {
  border: 1px solid rgb(0, 137, 250);
  background-color: rgba(0, 137, 250, 0.1);
}
.form form .form-box.error .error-text {
  visibility: visible;
}
.form form .submit {
  margin: 0 auto;
  width: 60%;
  height: 30px;
  color: #fff;
  border: none;
  background-color: #1360a4;
}
.form .msg-status {
  display: none;
  margin: 30px auto 30px auto;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  border-radius: 10px;
}
.form .success {
  display: flex;
  background-color: #4bb543;
}
.form .error-php {
  display: flex;
  background-color: #ff9494;
}
.form .desc {
  color: rgb(0, 0, 0);
}

footer {
  background-color: rgba(249, 249, 249, 0.85);
  width: 100%;
  height: 100px;
  color: rgb(0, 0, 0);
}
footer .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-links a {
  font-size: 36px;
  margin: 0 10px;
  color: rgb(0, 0, 0);
}
footer p {
  text-align: center;
}

@media (min-width: 992px) {
  footer .footer-links a i:hover {
    color: #0c0db0;
  }
  .form form button {
    transition: background-color 0.5s;
  }
  .form form button:hover {
    background-color: #2ca9e5;
  }
}/*# sourceMappingURL=styleCommon.css.map */