$main-theme: #3b83ff;
$secondary-color: #5493ff;
$third-color: #1750b3;
$first-complementary: #b37b05;
$secondary-complementary: #ffc03b;
$primary-font-color: rgb(235, 235, 235);
$bgc: rgb(235, 235, 235);
$shadow: rgba(0, 0, 0, 0.2);
