$main-theme: #1360a4;
$secondary-color: #0d3cba;
$third-color: #0c0db0;
$first-complementary: #0d4270;
$secondary-complementary: #2ca9e5;
$third-complementary: #d7e5f1;
$green-succes: #4bb543;
$red-error: #ff9494;
$primary-font-color: rgb(235, 235, 235);
$secondary-font-color: rgb(0, 0, 0);
$bgc: rgb(235, 235, 235);
$bgc-nav-foot: rgba(249, 249, 249, 0.85);
$shadow: rgba(0, 0, 0, 0.2);
