@use 'colors' as c;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.banner {
	height: 300px;
	.carousel-inner {
		height: 100%;
		.carousel-item {
			height: 300px;
			.carousel-content {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
			}
		}
	}
	.carousel-item-next,
	.carousel-item-prev,
	.carousel-item.active {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.carousel-control-prev-icon {
		background-image: none;
		i {
			color: c.$secondary-font-color;
		}
	}
	.carousel-control-next-icon {
		background-image: none;
		i {
			color: c.$secondary-font-color;
		}
	}
}
.offer-choice {
	text-align: center;
	background-color: rgba($color: c.$main-theme, $alpha: 0.2);
	border-radius: 5px;
	h3 {
		padding: 15px 0 0 0;
	}
	.offer-choice-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 20px 0 20px 0;
		.offer-content-box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: column;
			margin: 20px 20px;
			label {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				p {
					margin: 15px 0 5px 0;
				}
			}
			.offer-content-img {
				height: 300px;
				min-width: 200px;
			}
			input {
				display: none;
			}
			button {
				text-align: center;
				text-transform: uppercase;
				font-weight: 500;
				margin: 0 auto;
				width: 100px;
				height: 30px;
				color: #fff;
				border: none;
				border-radius: 5px;
				background-color: c.$main-theme;
			}
		}
	}
}
.descOption {
	.wall {
		margin: 20px 1em 10px 1em;
		.desc-name {
			position: sticky;
			top: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: c.$third-complementary;
			border-radius: 10px;
			.desc-name-header {
				font-size: 16px;
				font-weight: 700;
				text-align: center;
				border-right: solid 1px c.$secondary-font-color;
			}
			.desc-name-header:last-child {
				border-right: none;
			}
		}
		.desc-value {
			h4 {
				margin: 10px 0 0 0;
			}
			.desc-value-option {
				margin: 20px 0 0 0;
				display: flex;
				justify-content: space-around;
				align-items: center;
				.desc-value-option-i {
					width: 30%;
					height: 40px;
					border-radius: 10px;
					background-color: rgba($color: c.$main-theme, $alpha: 0.1);
					display: flex;
					justify-content: center;
					align-items: center;
					.fa-check {
						color: c.$green-succes;
					}
					.fa-xmark {
						color: c.$red-error;
					}
				}
			}
		}
	}
}
