@use 'colors' as c;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Comfortaa', cursive;
	background-color: #333;
	a {
		text-decoration: none;
		color: c.$primary-font-color;
	}
}

nav {
	position: sticky;
	z-index: 100;
	top: 0;
	width: 100%;
	.top-nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: c.$bgc-nav-foot;
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #fff;
		height: 80px;
		padding: 1em;
	}

	.menu {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.menu > li {
		margin: 0 1rem;
		overflow: hidden;
	}

	.menu-button-container {
		display: none;
		height: 100%;
		width: 30px;
		cursor: pointer;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#menu-toggle {
		display: none;
	}

	.menu-button,
	.menu-button::before,
	.menu-button::after {
		display: block;
		background-color: c.$secondary-font-color;
		position: absolute;
		height: 4px;
		width: 30px;
		transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
		border-radius: 2px;
	}

	.menu-button::before {
		content: '';
		margin-top: -8px;
	}

	.menu-button::after {
		content: '';
		margin-top: 8px;
	}

	#menu-toggle:checked + .menu-button-container .menu-button::before {
		margin-top: 0px;
		transform: rotate(405deg);
	}

	#menu-toggle:checked + .menu-button-container .menu-button {
		background: rgba(255, 255, 255, 0);
	}

	#menu-toggle:checked + .menu-button-container .menu-button::after {
		margin-top: 0px;
		transform: rotate(-405deg);
	}

	@media (max-width: 700px) {
		.menu-button-container {
			display: flex;
		}
		.menu {
			position: absolute;
			top: 0;
			margin-top: 80px;
			left: 0;
			flex-direction: column;
			width: 100%;
			justify-content: center;
			align-items: center;
			background-color: rgb(249, 249, 249);
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				color: c.$secondary-font-color;
				background: rgb(249, 249, 249);
				height: 0;
				margin: 0;
				padding: 0;
				border: 0;
				transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
				a {
					font-size: 36px;
					color: c.$secondary-font-color;
				}
			}
			li:not(:last-child) {
				border-bottom: none;
			}
		}

		#menu-toggle:checked ~ .menu li {
			border-bottom: 1px solid c.$main-theme;
			text-align: center;
			height: 80px;
			padding: 0.5em;
			transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}
	}
}
.banner {
	position: relative;
	height: 300px;
	.banner-content {
		position: absolute;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		z-index: 1;
		div {
			margin: 10px;
		}
		.banner-text {
			color: c.$primary-font-color;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		.banner-btn {
			.offer {
				color: c.$primary-font-color;
				width: 100px;
				height: 25px;
				border: 1px solid c.$primary-font-color;

				background-color: transparent;
			}
			.offer:active {
				background-color: c.$secondary-color;
				color: c.$primary-font-color;
			}
		}
	}
	.banner-shadow {
		position: absolute;
		.shadow {
			height: 100%;
			width: 100%;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.5);
		}
		img {
			height: 300px;
		}
	}
}
.advantages {
	margin: 50px 0 0 0;
	height: 300px;
	.carousel.slide {
		.carousel-inner {
			.carousel-item {
				width: 100%;
				height: 300px;
				.carousel-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					i {
						font-size: 48px;
						color: c.$main-theme;
					}
					h3,
					p {
						text-align: center;
						width: 80%;
					}
				}
			}
		}
	}
	[class*='carousel-control'] {
		color: black;
	}
}
.portfolio {
	.portfolio-text {
		text-align: center;
		h2 {
			font-size: 36px;
			text-transform: uppercase;
		}
		i {
			font-size: 36px;
			color: c.$main-theme;
		}
	}

	.portfolio-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
		.portfolio-box {
			list-style: none;
			width: 50%;
			height: 100px;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.portfolio-box:nth-child(1) {
			background-image: url(/assets/Mobile/Przelicznuk\ walut.webp);
		}
		.portfolio-box:nth-child(2) {
			background-image: url(/assets/Mobile/mobile-version.webp);
		}
		.portfolio-box:nth-child(3) {
			background-image: url(/assets/Mobile/todolist.webp);
		}
		.portfolio-box:nth-child(4) {
			background-image: url(/assets/Mobile/dabrowskiwebsite.webp);
		}
		.portfolio-box:nth-child(5) {
			background-image: url(/assets/Mobile/ai4sectors.webp);
		}
		.portfolio-box:nth-child(6) {
			background-image: url(/assets/Mobile/notes.webp);
		}
	}
}
.form {
	text-align: center;
	margin: 20px 0;
	.form-content {
		color: c.$main-theme;
	}
	form {
		width: 100%;

		.inputs {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			input {
				height: 50px;
				width: 80%;
				margin: 10px;
				padding: 0 0 0 10px;
				border-color: c.$primary-font-color;
			}
			::placeholder {
				font-family: 'Comfortaa', cursive;
			}
			button {
				width: 60%;
				height: 30px;
				color: #fff;
				border: none;
				background-color: c.$main-theme;
			}
			.form-text-message {
				margin: 10px;
				padding: 0 0 0 10px;
				inline-size: 80%;
				overflow-wrap: break-word;
				overflow: visible;
			}
		}
	}
}
footer {
	background-color: c.$bgc-nav-foot;
	width: 100%;
	height: 100px;
	color: c.$secondary-font-color;
	.footer-links {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			font-size: 36px;
			margin: 0 10px;
			color: c.$secondary-font-color;
		}
	}
	p {
		text-align: center;
	}
}
