@use 'colors' as c;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.banner {
	position: relative;
	height: 300px;
	.banner-content {
		position: absolute;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		z-index: 1;
		div {
			margin: 10px;
		}
		.banner-text {
			color: c.$primary-font-color;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		.banner-btn {
			color: c.$primary-font-color;
			.offer {
				display: flex;
				justify-content: center;
				align-items: center;
				color: c.$primary-font-color;
				width: 100px;
				height: 25px;
				border: 1px solid c.$primary-font-color;
				transition: background-color 0.5s;
				background-color: transparent;
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100px;
					height: 100%;
				}
			}
			.offer:active {
				background-color: c.$secondary-complementary;
				color: c.$primary-font-color;
			}
		}
	}
	.banner-shadow {
		width: 100%;
		height: 100%;
		position: absolute;
		.shadow {
			height: 100%;
			width: 100%;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.5);
		}
		.banner-img {
			width: 100%;
			height: 300px;
			background-image: url(/assets/Mobile/laptop-2620118_640.webp);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: black;
		}
		img {
			height: 300px;
		}
	}
}
.advantages {
	margin: 50px 0 0 0;
	height: 300px;
	.carousel.slide {
		.carousel-inner {
			.carousel-item {
				width: 100%;
				height: 300px;
				.carousel-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					i {
						font-size: 48px;
						color: c.$main-theme;
					}
					h2,
					p {
						text-align: center;
						width: 80%;
					}
				}
			}
		}
	}
	[class*='carousel-control'] {
		color: black;
	}
}
.portfolio {
	.portfolio-text {
		text-align: center;
		h2 {
			font-size: 36px;
			text-transform: uppercase;
		}
		i {
			font-size: 36px;
			color: c.$main-theme;
		}
	}

	.portfolio-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
		.portfolio-box {
			list-style: none;
			width: 50%;
			height: 100px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			.portfolio-box-item {
				position: relative;
				display: flex;
				width: 100%;
				height: 100%;
			}
		}
		.portfolio-box:nth-child(1) {
			background-image: url(/assets/Mobile/thumbnailsMobile/Przelicznuk\ walut.webp);
		}
		.portfolio-box:nth-child(2) {
			background-image: url(/assets/Mobile/thumbnailsMobile/mobile-version.webp);
		}
		.portfolio-box:nth-child(3) {
			background-image: url(/assets/Mobile/thumbnailsMobile/todolist.webp);
		}
		.portfolio-box:nth-child(4) {
			background-image: url(/assets/Mobile/thumbnailsMobile/dabrowskiwebsite.webp);
		}
		.portfolio-box:nth-child(5) {
			background-image: url(/assets/Mobile//thumbnailsMobile/ai4sectors.webp);
		}
		.portfolio-box:nth-child(6) {
			background-image: url(/assets/Mobile/thumbnailsMobile/notes.webp);
		}
	}
}

@media (min-width: 768px) {
	.banner {
		height: 500px;
		padding: 0;
		.banner-content {
			width: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.banner-text {
				text-align: center;
			}
			.banner-btn {
				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				p {
					font-size: 24px;
					text-align: center;
					margin: 0px 20px 20px 20px;
				}
				.offer {
					height: 50px;
					width: 300px;
					border: 3px solid c.$primary-font-color;
				}
			}
		}
		.banner-shadow {
			.banner-img {
				background-image: url(/assets/tablet/laptop-2620118_1280.webp);
				height: 500px;
			}
		}
	}
	.advantages {
		height: 500px;
		.carousel.slide {
			.carousel-inner {
				.carousel-item {
					height: 500px;
				}
				.carousel-item.active {
					display: flex;
				}
			}
			.carousel-item-next,
			.carousel-item-prev,
			.carousel-item.active {
				display: flex;
				justify-content: center;
			}
		}
	}
	.portfolio {
		.portfolio-list {
			.portfolio-box {
				width: 33%;
				height: 200px;
			}
			.portfolio-box:nth-child(1) {
				background-image: url(/assets//tablet/thumbnailTablet/currencyExchange.webp);
			}
			.portfolio-box:nth-child(2) {
				background-image: url(/assets/tablet/thumbnailTablet/mobileVersion.webp);
			}
			.portfolio-box:nth-child(3) {
				background-image: url(/assets/tablet/thumbnailTablet/toDoApp.webp);
			}
			.portfolio-box:nth-child(4) {
				background-image: url(/assets/tablet/thumbnailTablet/dabrowskiWebsite.webp);
			}
			.portfolio-box:nth-child(5) {
				background-image: url(/assets/tablet/thumbnailTablet/ai4sectors.webp);
			}
			.portfolio-box:nth-child(6) {
				background-image: url(/assets/tablet/thumbnailTablet/myNotes.webp);
			}
		}
	}
}
@media (min-width: 992px) {
	.banner {
		height: 700px;
		.banner-content {
			.banner-btn {
				.offer {
					cursor: pointer;
					transition: background-color 0.5s;
				}
				.offer:hover {
					background-color: c.$secondary-complementary;
				}
			}
		}
		.banner-shadow {
			height: 100%;
			.banner-img {
				height: 100%;
				background-image: url(/assets/computer/laptop-2620118_1920.webp);
			}
		}
	}
	.portfolio {
		.portfolio-text {
			i:hover {
				color: c.$secondary-font-color;
			}
		}
		.portfolio-list {
			.portfolio-box {
				width: 33%;
				height: 200px;
				transition: transform 0.5s;
			}
			.portfolio-box:nth-child(1) {
				background-image: url(/assets/computer/thumbnailsComputer/currencyexchange.webp);
			}
			.portfolio-box:nth-child(2) {
				background-image: url(/assets/computer/thumbnailsComputer/mobileversion.webp);
			}
			.portfolio-box:nth-child(3) {
				background-image: url(/assets/computer/thumbnailsComputer/toDoApp.webp);
			}
			.portfolio-box:nth-child(4) {
				background-image: url(/assets/computer/thumbnailsComputer/dabrowskiwebsite.webp);
			}
			.portfolio-box:nth-child(5) {
				background-image: url(/assets/computer/thumbnailsComputer/ai4sectors.webp);
			}
			.portfolio-box:nth-child(6) {
				background-image: url(/assets/computer/thumbnailsComputer/myNotes.webp);
			}

			.portfolio-box:hover {
				transform: scale(1.05);
			}
		}
	}
}
