@use 'colors' as c;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Comfortaa', cursive;
	background-color: #333;
	a {
		text-decoration: none;
		color: c.$primary-font-color;
	}
}

nav {
	background-color: c.$third-color;
	position: sticky;
	z-index: 100;
	top: 0;
	width: 100%;
	ol,
	ul,
	dl {
		padding: 0;
		margin: 0;
	}
	.menu-tools {
		display: flex;
		justify-content: space-between;
		height: 80px;

		.logo {
			width: 150px;
			height: auto;
			margin: 20px;
			// background-image: url('/assets/Logo_MD_mobile.svg');
			// background-size: contain;
			// background-repeat: no-repeat;
			// background-position: center;
		}
		.menu-button {
			font-size: 36px;
			border: none;
			cursor: pointer;
			margin: 20px;
			background-color: transparent;
			color: c.$secondary-complementary;
		}
	}
	.menu-list {
		display: none;
		text-align: center;
		font-size: 36px;
		z-index: 100;
		position: relative;
		left: -100%;
		height: 100vh;
		background-color: #fff;
		.menu-link {
			list-style: none;
			a {
				color: c.$third-color;
			}
		}
	}
	.menu-list:last-child {
		padding: 0 0 10px 0;
	}
}
.banner {
	position: relative;
	height: 300px;
	.banner-content {
		position: absolute;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		z-index: 1;
		div {
			margin: 10px;
		}
		.banner-text {
			color: c.$primary-font-color;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		.banner-btn {
			.offer {
				color: c.$primary-font-color;
				width: 100px;
				height: 25px;
				border-radius: 5px;
				border: 1px solid c.$primary-font-color;

				background-color: transparent;
			}
			.offer:active {
				background-color: c.$secondary-complementary;
				color: c.$third-color;
			}
		}
	}
	.banner-shadow {
		position: absolute;
		.shadow {
			height: 100%;
			width: 100%;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.5);
		}
		img {
			height: 300px;
		}
	}
}
.advantages {
	margin: 50px 0 0 0;
	height: 300px;
	.carousel.slide {
		.carousel-inner {
			.carousel-item {
				width: 100%;
				height: 300px;
				.carousel-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					i {
						font-size: 48px;
						color: c.$main-theme;
					}
					h3,
					p {
						text-align: center;
						width: 80%;
					}
				}
			}
		}
	}
	[class*='carousel-control'] {
		color: black;
	}
}
.portfolio {
	.portfolio-text {
		text-align: center;
		h2 {
			font-size: 36px;
			text-transform: uppercase;
		}
		i {
			font-size: 36px;
			color: c.$main-theme;
		}
	}

	.portfolio-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
		.portfolio-box {
			list-style: none;
			width: 50%;
			height: 100px;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.portfolio-box:nth-child(1) {
			background-image: url(/assets/Mobile/Przelicznuk\ walut.webp);
		}
		.portfolio-box:nth-child(2) {
			background-image: url(/assets/Mobile/mobile-version.webp);
		}
		.portfolio-box:nth-child(3) {
			background-image: url(/assets/Mobile/todolist.webp);
		}
		.portfolio-box:nth-child(4) {
			background-image: url(/assets/Mobile/dabrowskiwebsite.webp);
		}
		.portfolio-box:nth-child(5) {
			background-image: url(/assets/Mobile/ai4sectors.webp);
		}
		.portfolio-box:nth-child(6) {
			background-image: url(/assets/Mobile/notes.webp);
		}
	}
}
.form {
	text-align: center;
	margin: 20px 0;
	form {
		width: 100%;

		.inputs {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			input {
				height: 50px;
				width: 80%;
				border-radius: 5px;
				margin: 10px;
				padding: 0 0 0 10px;
				border-color: c.$secondary-color;
			}
			::placeholder {
				font-family: 'Comfortaa', cursive;
			}
			button {
				width: 60%;
				height: 30px;
				color: #fff;
				border: none;
				border-radius: 5px;
				background-color: c.$secondary-color;
			}
			.form-text-message {
				height: 200px;
			}
		}
	}
}
footer {
	background-color: c.$third-color;
	width: 100%;
	height: 100px;
	color: c.$secondary-complementary;
	.footer-links {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			font-size: 36px;
			margin: 0 10px;
			color: c.$secondary-complementary;
		}
	}
	p {
		text-align: center;
	}
}
